---
 const personalImageAlt = "Mario Osorio"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Mario Osorio, un <strong>Ingeniero de Software y Desarrollador Web</strong> con más de 8 años de experiencia en la creación de soluciones digitales a medida. Mi enfoque ha sido siempre construir aplicaciones <strong>web y móviles</strong> que no solo sean funcionales, sino también intuitivas y escalables.
    </p>

    <p>
      Con una sólida base en <strong>desarrollo frontend y backend</strong>, me especializo en optimizar el rendimiento y la experiencia del usuario, asegurando que cada proyecto no solo cumpla con las expectativas, sino que las supere.
    </p>
    <p>
      A lo largo de mi carrera, he trabajado con una amplia variedad de tecnologías y <strong>frameworks</strong>, lo que me permite ofrecer soluciones modernas y personalizadas.
    </p>
    <p>Además de mis habilidades técnicas, tengo una profunda comprensión del <strong>SEO</strong>, lo que me permite no solo desarrollar productos de alta calidad, sino también asegurar que sean fácilmente encontrables en los motores de búsqueda. Mi pasión por el desarrollo web va más allá del <strong>código</strong>: me esfuerzo por crear experiencias que realmente agreguen valor a los usuarios y al negocio.</p>
  </div>
</article>
